* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #b8efba, #a4c6ee);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
      /*CABEÇALHO*/
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.logo {
    display: flex;
    align-items: flex-end; /* Alinha o texto pela base da imagem */
    gap: 12px;             /* Espaço entre a imagem e o texto */
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.navbar a {
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.833);
    font-weight: 600;
    transition: 0.3s;
}
 
.navbar a:hover{
  color: #2ecc71;
}

/* CORPO*/
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

/* CARD */
.card {
    width: 100%;
    max-width: 900px;
    padding: 60px;
    border-radius: 15px;

    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(12px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* TEXTO */
.linha {
    display: flex;
    gap: 15px;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: #1a1d2c;
    color: white;
}

/* links */
.footer a{
    display: block;
    color: #7fff00;
    text-decoration: none;
    margin-top: 5px;
}

.footer a:hover {
    text-decoration: underline;
}

/* copyright embaixo */
.copyright{
    text-align: center;
    margin-top: 95px;
    color: #7fff00;
    font-size: 14px;
}

@media (max-width: 600px) {
    .linha {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
}
  
  .pedido{
    display: flex;
    flex-direction: column;
    position:relative;
    width:100%;
    margin:2rem auto;
    background:#FFFDF9;
    border-radius:1.6rem;
    padding:1.4rem 2rem;
    box-shadow: 0 .6rem 1.5rem rgba(0,0,0,.12);
}

.pedido::after{
    content:"";
    position:absolute;
    left:2.2rem;
    bottom:-1.1rem;
    width:2rem;
    height:2rem;
    background:#FFFDF9;
    transform:rotate(45deg);
}

.pedido-topo{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    gap:1.5rem;
    margin-bottom:1rem;
}

.pedido-topo h3{
    display:flex;
    align-items:flex-start;
    gap:2rem;
}

.lista-consultas{
    gap: 1rem;
    margin-bottom: 3rem;
}

.carousel-container{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top: 2rem;
}

.carousel-wrapper{
    max-width:900px;      /* largura visível */
    overflow:hidden;
    width: 100%;
}

.carousel{
    display:flex;
    gap:15px;
    transition:transform .5s ease;
    width: max-content;
}

.card-carousel{
    width:150px;
    height:230px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.minicard{
    width:150px;
    height:180px;
    background:#2ecc71;
    border-radius:15px;
    display: flex;

    margin-top:auto;
}

.minicard p{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}

.card-carousel img{
    width:140px;
    height:140px;
    object-fit:cover;

    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    border-radius: 50%;
}

.card-carousel{
    transition: transform .3s ease;
}

.card-carousel:hover{
    transform: translateY(-8px);
}
