* {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    background-image: url('/img/fundo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left {
    flex: 1;
    border-right: 2px solid #ccc;
  }

  .right {
    flex: 1;
    
    margin: 1rem;
  }

  .kaka{
    display: flex;
  }

  .but{
    width: 300px;
    height: 50px;
    background-image: url('/img/but.png');
    margin-top: 2rem;
    margin-left: 1rem;
    border: none;          /* remove a borda */
    outline: none;         /* remove o contorno que aparece ao clicar/focar */
    font-weight: bold;
  }